*{  
    box-sizing: border-box;
}

body header , nav {
    display: flex;
    justify-content:space-around;
    padding-top: 7px;
    height: 24px;
}
#theme{
    background-color: black;
    color: white;
}
body {
    background-color:white;
}

.logo{

    height: 30px;
    width: 120px;
   margin-right: 400px;
}

 .btn {
     height: 30px;
     width: 90px;
     background-color: white;
     color: rgb(24, 2, 20);
     border-radius: 6px;
     border: 2px solid black;
   
 }
  .btn-d{
    height: 30px;
        width: 90px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 6px;
        border: 2px solid rgb(255, 255, 255);
        
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn-d:hover{
background-color: white;
    color: black;
}


.table{
    align-items: center;
}

.a{
    height: 480px;
    width: 1000px;
    border-radius: 8px;
    margin-left: 140px;
    
}

h4{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: large;
}
.table td {
    padding:7px;
    border: .04rem solid rgb(0, 0, 0);
   
}
.t td{
    padding: 7px;
    border: 1px solid white;
    
}

footer p{
  text-align: center;
    /* border: 2px solid red; */
}